.slick {
  .slick-dots {
    bottom: 10px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-slide a:hover {
  color: white;
}

@media only screen and (min-width: 120px) and (max-width: 1020px) {
  .slick {
    display: none;
  }
}
