
ul.links li a:hover {
  color: green;
}

ul.archives-links li a {
  color: black;
}

ul.archives-links li a:hover {
  color: darken(darkgrey, 25%);
}

a.country {
  color: black;
}

a:hover.country {
  color: darken(darkgrey, 25%);
}

.nav-tabs .nav-link {
  color: darken(darkgrey, 25%);
}

.nav-tabs .nav-link.active {
  background: none !important;
  border: 0;
  border-bottom: 2px solid black;
  color: black;
}
