.landing-content {
  background: #fefefe;
  padding-bottom: 0;
  margin-bottom: -25px;
}

a.landing-info {
  color: black;
  text-decoration: underline;
}

a:hover.landing-info {
  background: #dbd1c7;
}
