h2.entry-title a.title-link {
  color: black;
}

h2.entry-title a.title-link:hover {
  color: darken(darkgrey, 25%);
}

.entry-summary a {
  color: black;
}

.entry-summary a:hover {
  color: darken(darkgrey, 25%);
}
