h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Suisse Intl', 'sans-serif';
}

body,
p {
  font-family: 'Suisse Neue';
  font-size: 16px;
  line-height: 24px;
}

article h1.film-title {
  font-family: 'Suisse Works', 'serif';
  font-size: 5rem;
}

h4 {
  font-size: 16px;
}

.gray-shadow {
  background: #eee;
  -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
}

main.main {
  padding-top: 70px;
  padding-bottom: 30px;
}

main.main-wrapper {
  padding: 0 10px 10px;
  margin-top: 0;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
  height: initial !important;
}

.wysija-input,
.wysija-submit {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.h5-regular {
  font-weight: normal;
}
